
.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 50vw;
    text-align: center;
    justify-content: center;
}
h1 {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
}
h2 {
    margin-bottom: 3%;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    letter-spacing: 6.82px;
    color: #FFFFFF;
}
form {
    padding-bottom: 50px;
    flex-direction: row;
    height: 63px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #FFFFFF;
}
input {
    width: 503px;
    height: 63px;
    left: 0px;
    top: 0px;
    border: 0;
    background: #FFFFFF;
    letter-spacing: 2.8px;
}
.glass {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.searchbtn {
    width: 153px;
    height: 63px;
    background: #5474FD;
    border: 2px solid #FFFFFF;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition-duration: 0.4s;
    cursor: pointer;
}
.searchbtn:hover {
background-color: #8fa1f3;
}

::placeholder {
    text-align: center;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}
.btnscroll {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 10vw;
}
.scrolldown {
    background: none;
    border: none;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2.8px;
    color: #FFFFFF;
    cursor: pointer;
    transition-duration: 0.4s;
}
.scrolldown:hover {
    scale: 1.5;
}
.firstpage {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.part {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    height: 40vh;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    padding: 20px; 
}
.part2 {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    height: 40vh;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    padding: 20px; 
}
.part p {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #E8E8E8;
}
.image1 {
    margin: 20px;
}
.image2 {
    margin-left: 25%;
}
.iconbar {
    height: 35vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    flex-direction: row;
    padding-left: 20%;
    padding-right: 20%;
}
.search-icon {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    height: 100%;
    justify-content: center;
}
.search-icon p {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    color: #E8E8E8;
}
.search-icon i {
    scale:4;
    margin-bottom: 20%;
}
.search-icon:hover {
    background-color: #555555;
    cursor: pointer;
}
/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
  /* NAVIGATION */  
  .nav {
    overflow: hidden;
    background-color: #5474FD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.3);
  }
  .logo {
    overflow: hidden;
    background-color: #5474FD;
    display: flex;
    align-items: center;
    margin: 0px;
    }
   .logo p {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px;
   }
    .topnav {
      overflow: hidden;
      background-color: #5474FD;
      display: flex;
      align-items: flex-end;
    }
    
    .topnav a {
      text-align: center;
      font-family: 'Aleo';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 26px;
      align-items: center;
      text-transform: uppercase;
      text-decoration: none;
      color: #FFFFFF;
      padding: 15px;
    }
    
    .topnav a:hover {
      background-color: #738dff;
      color: rgb(255, 255, 255);
    }
    
    .topnav a.active {
      background-color: #738dff;
      color: white;
    }
    
    .topnav .icon {
      display: none;
    }
    
    
  .book {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    background-image: url('../images/5.png');
    background-size: cover;
    background-position: center center;
  }
  .book2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    width: 100vw;
    background-image: url('../images/6.png');
    background-size: cover;
    background-position: center center;
  }
  .book3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: url('../images/8.png');
    background-size: cover;
    background-position: center center;
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 25vh;
    width: 100vw;
    background-color: #232323;
    background-size: cover;
    background-position: center center;
  }
  .text-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    width: 40%;
    margin-left: 0;
    margin-right: 0;
    background-color: #232323;
  }
  .text-footer i {
    color: #ffffff;
    margin: 8px;
  }
  .text-footer i:hover {
    color: #5474FD;
  }
     .text-block {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-direction: column;
      height: 40vh;
      width: 40%;
      margin-left: 10%;
      margin-right: 10%;
      background-color: rgba(0, 0, 0, 0.822);
      color: white;
      padding: 20px;
    }
    .text-block2 {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      height: 30vh;
      width: 40%;
      margin-left: 0;
      margin-right: 0;
      background-color: #333333;
      color: white;
      padding: 20px;
    }
    .text-block2 i {
        font-family: 'FontAwesome';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 26px;
        color: #5474FD;
        margin-right: 10px;
    }
    .samblock {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      height: 30vh;
     }
    
    h3 {
      font-family: 'Josefin Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 1.5px;
      color: #E8E8E8;
    }
    h4 {
      font-family: 'Josefin Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      text-transform: uppercase;
      color: #FFFFFF;
    }
    h5 {
      font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 5%;
    }
    h6 {
      font-family: 'Josefin Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 1.6px;
      color: #FFFFFF;
    }
    .text-block p {
      font-family: 'Josefin Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      display: flex;
      align-items: center;
      color: #E8E8E8;
    }
    .btn-blue {
      background: linear-gradient(215deg, #5474FD 60%, #496BFE 40% 100%);
      color: #fff;
      padding: 18px 64px;
      border: none;
      border-radius: 0px;
      font-family: 'Aleo';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      display: flex;
      align-items: center;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      color: #FFFFFF;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      transition: background-color 0.3s;
    }
    
    .btn-blue:hover {
      background: linear-gradient(215deg, #6883ff 60%, #5d7bff 40% 100%);
    }
    
    .btn-blue:active {
      background: linear-gradient(215deg, #6883ff 60%, #5d7bff 40% 100%);
    }
    @media screen and (max-width: 880px) {
      .text-block {
        width: 100%;
        height: 60vh;
        margin-left: 0;
        margin-right: 0;
      }
      .text-block2 {
        width: 100%;
        height: 60vh;
        margin-left: 0;
        margin-right: 0;
      }
      .samblock {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 80vh;
    }
    .topnav {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .topnav a {
      display: none;
    }
    .topnav a.icon {
      display: flex;
    }
    .topnav.responsive .icon {
      display: flex;
    }
    .topnav.responsive a {
      display: flex;
      text-align: center;
    }
    .firstpage {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .part2 {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
        padding: 20px;
        flex-direction: row;
        margin-top: 50px;
        align-items: flex-end;
    }
    .iconbar {
        height: 80vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .search-icon {
        display: flex;
        flex-direction: column;
        flex: 1;
        text-align: center;
        height: 100%;
        justify-content: center;
        width: 100vw;

    }
    
.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 170vw;
    text-align: center;
    justify-content: center;
}
.btnscroll {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 30vw;
}
.image1 {
    margin: 0;
    width: 50vw;
}
.image2 {
    margin-left: 0;
    width: 50vw;
    margin: 0;
}
   }
   